@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
body {
    text-align: center;
    color:#f5e6cc; 
    font-family: Tagesschrift, Verdana, Tahoma, sans-serif;

     background-image: url("media/imagen/monster icons.png");
    background-repeat: repeat;
    background-size: auto;
}
main {
  flex-grow: 1;
  padding: 1em;
}
.titulo {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #3c2e1f, #5a4230); 
    padding: 1rem;
    gap: 1rem;
    margin-top: 1%;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 10px;
    letter-spacing: 1px;
}
.titulo img {
    max-width: 4rem; 
    height: auto;
    align-self: center; 
}
.menu-superior {
    display: flex;
    justify-content: space-between;
    background-color: rgb(82, 67, 47);
    padding-left: 1%;
    padding-right: 1%;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    width: 95%;
    height: 50px;
    margin-left:1%;
    margin-right:1%;

    top: 0;
}        
.footer {
    background-color: rgba(122, 104, 95, 0.2);
    font-size: 1.1em;
    text-align: center;
    margin-top: 3em;
    border-top: 2px solid #d1b07f;
    padding: 1em;
    
}
.footer a{
    text-decoration: none;
    color: #d1b07f;
    
    
}

.footer a:hover{
    color:rgb(221, 156, 70)
}



        
        /* Indice */
.indice {
    display: flex;
    text-align: left;
    
    flex-direction: column;
    border: 2px solid rgb(139, 90, 33);
    width: fit-content;
    padding: 0.5em;
    margin:2%;
    font-size: 1.5em;
}
.indice h2{
    font-size: 1em;
    margin: 1%;
}
.indice hr{
    width: 100%;
    border-color:rgb(139, 90, 33)
}

/* Index */
        .logo-principal {
            margin-top: 70px;
        }
        .contenedor-recursos {
            display: flex;
            gap:2%;
            margin: 2%;
            flex-wrap: w
        }
        .recursos-dm, .recursos-jugador{
            display:flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            height: 25vw;
            font-size: 150%;
            box-shadow: inset 0 0 10px 10px rgba(122, 104, 95, 0.5);
            
            
        }
        .recursos-dm{
            background-image: url("media/imagen/fondoRecursosDM.png");
        }
        .recursos-jugador{
            background-image: url("media/imagen/fondosRecursosJugador.png");
        }
        .recursos-dm:hover,
        .recursos-jugador:hover {
            transform: scale(1.05); 
            transition: transform 0.3s ease;
            
        }
        .recursos-dm h2, .recursos-jugador h2 {
            background-color: rgb(0,0,0,0.5);
            border-radius: 20px;
            padding: 1rem;
            
        }
        .link {
            text-decoration: none;
            color: #f0e0d6;
        }
        .link:hover{
            color:rgb(207, 154, 83)
        }
        
        @media (max-width: 800px) {
            .titulo{
                font-size: auto;
            }
            .contenedor-recursos {
                flex-direction: column;
            }
            .recursos-dm, .recursos-jugador{
                width: 100%;
                margin: 10px;
                margin-left: auto;
                margin-right: auto;
                font-size: auto;
                height: auto;
                
            }
        }
        
      /* Recursos jugador */

        .body-recursos {
            padding-top: 50px
        }
        .opciones-menu{
            display: flex;
            gap: 2em;
        }
        a.link img {
            display: block; 
            width: 10%;       
            height: auto;   
        }
        .titulo-jugador {
            display: flex;
            margin: 2%;
            align-items: center;
            flex-wrap: wrap;   
            
            justify-content: space-around;
        }
        .parrafo-titulo {
            width: 40%;      
        }
     
        .texto-titulo {
            display: flex;
            gap: 10px;
            justify-content: center;
            font-size: 1.5rem;
            
        }
        
        .video {
            
            border: 1em solid  rgb(173, 148, 100,0.2);
            width: 45%;
            aspect-ratio: 16 / 9;
            min-width: 320px;
        }
        .video iframe{
            width: 100%;
            height: 100%;
        }
        @media (max-width: 700px) {
            .parrafo-titulo {
                width: 80%;
            }
            .titulo-jugador {
                justify-content: center;
                margin: auto;
                margin-top: 12%
            }
            .video {
                width: 80%;
                min-width: 160px;
            }
        }

        /* Info clases */
        .info-clases{      
           margin: 2%;
           justify-content: left; 
           flex-direction: column;
           background-image: url("media/imagen/fondoRecursosDM.png");
        }
        .info-clases h2, .info-clases p {
            
            background-color: rgb(0, 0, 0, 0.5);
            display: inline-block; 
            padding: 0.5rem;
            width: fit-content;
            text-align: center;
            margin: auto;
        }
        .info-clases h2{
            font-size: 2em;
        }
        .info-clases p{
            font-size: 1.5em;
        }
        .tarjeta-clase {
            display: flex;
            padding: 1em;
            gap: 2em;
            background-color: #000000;
            width: 70%;
            border-radius: 10px;   
        }
        .tarjeta-clase h3 {
            margin: auto;
            text-align: left;  
        }
        .tarjeta-clase p{
            font-size: 1em;
            text-align: left;  
        }

        @media (max-width: 380px) {
            .tarjeta-clase {
                flex-direction: column;
                margin: auto;
            }
            .tarjeta-clase-texto {
                text-align: center;
            }
            .info-clase {
                justify-content: center;
            }
        }
/* Preguntas */
        .preguntas {
            margin: 2%;
            justify-content: left; 
            flex-direction: column;
            background-image: url("media/imagen/fondosRecursosJugador.png");
            font-size:1.5em;
        }
        .preguntas h2, .preguntas p {
            background-color: rgb(0, 0, 0, 0.5);
            border-radius: 10px;
            width: fit-content;
            margin: auto;
        }
        .preguntas ul {
            text-align: left;
            background-color: rgb(0, 0, 0, 0.5);
            width: fit-content;
            margin:1%
        }

/* Recursos DM */
        .contenedor-principal-dm {
            display: flex;
            margin-top: 70px; 
            align-items: flex-start;
            
        }
        .titulo-dm {
            display: flex;
            flex-direction: column;
            
        }
        .titulo-dm h1{
            margin-bottom: 0px;
        }

        .menu-lateral {
            width: 25%;
            min-width:100px;
            display: flex;
            flex-direction: column;
            background-color: #3c2e1f;
            align-items: center;
            color: white;
            height: 85vh; 
            position: sticky;
            top: 70px; 
            border-radius: 10px;
            border: 2px solid rgba(139, 90, 33, 0.8);
            font-size: 1.2em;
            overflow: hidden;
             
        }
        .menu-lateral div{
            background-color: rgba(255, 255, 255, 0.08);
            padding: 0.5em;
            width: 100%;
            
        }
        .menu-lateral div:nth-child(2){
            background-color: rgba(167, 162, 154, 0.08);
        }
        .menu-lateral div:hover {
            background-color: rgb(221, 151, 60,0.2);
        }
    /* Tabla de Nombres */
        .tabla-nombres {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1rem;
            background-color: rgba(48, 38, 29, 0.7); 
            color: #f5e6cc; 
            border-radius: 10px;
            overflow: hidden;
        }

        .tabla-nombres th, .tabla-nombres td {
            border: 1px solid rgba(255, 255, 255, 0.2);
            padding: 1rem;
            text-align: left;
        }

        .tabla-nombres thead {
            background-color: rgba(139, 90, 33, 0.8); 
            font-weight: bold;
            color: #fff5dc;
            text-shadow: 1px 1px 2px #000;
        }

        .tabla-nombres tr:hover {
            background-color: rgba(255, 255, 255, 0.1);
            transition: background-color 0.3s ease;
        }
    
    /* Monstruos */
    .clase-monstruos {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom:2%
    }
    .monstruos {
        border-radius: 10px;
        box-shadow: inset 0 0 10px 10px rgba(1, 14, 29, 0.8);
        padding:1px;
        margin:1%;
            
    }
    .monstruos h3{
        font-size:1.5em;
        background-color: rgb(0, 0, 0, 0.1);
        padding:4px;
        border-radius: 10px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        
    }
    .terrestres {
        background-image: url("media/imagen/fondo\ terrestres.png");
        
        
    }
    .marinos {
        background-image: url("media/imagen/fondo-marinos.jpg");
        background-repeat: no-repeat;
         background-size: 100% 100%;
    }
    .voladores {
        background-image: url("media/imagen/fondo\ aereo.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .tarjeta-monstruo {
        border: 3px solid rgba(139, 90, 33, 0.8);
        width: 18%;
        min-width: 200px;
       margin: 1.5%;
       padding:10px;
       background-color: rgb(0, 0, 0, 0.5);
       border-radius: 10px;
       box-shadow: inset 0 0 10px 2px rgba(139, 99, 24, 0.8);
    }
    .tarjeta-monstruo:hover{
        transform: scale(1.3);
        transition: transform 0.3s ease;
    }
    .tarjeta-monstruo img{
        width:90%;
        aspect-ratio: 1/1;
        border: 3px solid rgba(77, 68, 21, 0.8);
        box-shadow: inset 0 0 15px 10px rgba(70, 77, 7, 0.8);
        
    }
    @media (max-width: 380px) {
        .tarjeta-monstruo{
            margin: auto;
            width: 80%;
        }
        .clase-monstruos{
            gap: 10px;
            margin-bottom: 5%;
        }
        .monstruos{
            margin-bottom: 5%;
        }
        
    }


    /* Formulario */
    .titulo-contacto{
        margin-top: 70px;
    }
    .formulario {
        display: flex;
        flex-direction: column;
        background-color: #f9f6f2;
        margin: auto;
        padding: 2%;
        color:#3c2e1f;
        font-size:1.6em;
        width: 60%;
        border-radius: 10px;
        gap: 1rem;
        min-width: 200px;
        
    }
    .formulario fieldset {
        display: flex;
        flex-direction: column;
        justify-content: left;
        border-radius: 10px;
        gap: 1rem;
    }
    .formulario label {
        display: flex;
        font-size:0.8em;
    }
    .formulario input[type="text"], .formulario input[type="email"], .formulario textarea {
        padding: 0.5rem;
        border-radius: 8px;
        border: 1px solid #ccc;
        font-size: 0.8em;
        width:95%
    }
    .formulario button {
        width: fit-content;
        font-size: 0.8em;
        background-color: rgba(139, 90, 33, 0.8);
        border: 1px solid #ccc;
    }
@media (max-width: 400px) {
        .formulario{
            width:100%;
            padding: 0px
        }
    }